@charset "UTF-8";
@font-face {
  font-family: "Poopins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poopins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Poopins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@keyframes move {
  from {
    top: 100%;
    transform: translateY(-100%);
  }
  to {
    top: 0;
    transform: translateY(0);
  }
}
* {
  box-sizing: border-box;
}

body {
  font-family: "Poopins", sans-serif;
  background: #f3f3f3;
  color: #444;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  grid-template-areas: "header" "main" "footer";
}
@media (min-width: 130rem) {
  body {
    grid-template-rows: 4.5rem auto auto;
  }
}

.backdrop {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s linear;
}

.main-header {
  z-index: 2;
  background: #f3f3f3;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  height: 3.5rem;
}
@media (min-width: 130rem) {
  .main-header {
    height: 4.5rem;
  }
}

.logo {
  height: 2.5rem;
}
@media (min-width: 130rem) {
  .logo {
    height: 3.5rem;
  }
}
.logo--block {
  display: block;
  margin: 3rem auto;
  height: 3.5rem;
  margin-bottom: 5rem;
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}
@media (min-width: 52rem) {
  .toggle-button {
    display: none;
  }
}
.toggle-button__bar {
  width: 100%;
  height: 0.2rem;
  display: block;
  background: #5ec576;
  margin: 0.6rem 0;
}
.toggle-button:focus {
  outline: none;
}

.main-nav {
  display: none;
}
@media (min-width: 52rem) {
  .main-nav {
    display: flex;
  }
}
.main-nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
}
.main-nav__item {
  margin: 0 1rem;
}

.link {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  color: inherit;
  font-size: 1.2rem;
}
@media (min-width: 130rem) {
  .link {
    font-size: 1.6rem;
  }
}

.btn-green {
  padding: 0.4rem 1.25rem;
  border-radius: 3rem;
  background-color: #5ec576;
  cursor: pointer;
}
.btn-green:hover, .btn-green:active {
  background-color: #4bbb7d;
  color: #333;
}
.btn-green:focus {
  outline: none;
}

.mobile-nav {
  transform: translateX(100%);
  position: fixed;
  z-index: 3;
  background: #f3f3f3;
  top: 3.5rem;
  right: 0;
  width: 80%;
  height: calc(100vh - 3.5rem);
  transition: transform 300ms ease-out;
}
.mobile-nav__items {
  width: 90%;
  height: 100%;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-height: 47rem) and (orientation: landscape) {
  .mobile-nav__items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
  }
}
.mobile-nav__item {
  margin: 1rem 0;
}

main {
  grid-area: main;
  display: grid;
}

.section {
  margin: 0;
  padding: 1rem;
  transition: transform 1s, opacity 1s;
  height: calc(100vh - 3.5rem);
  display: grid;
  align-items: center;
  justify-items: center;
}
@media (max-height: 47rem) and (orientation: landscape) {
  .section {
    height: 100%;
  }
}
@media (min-width: 130rem) {
  .section {
    height: calc(100vh - 4.5rem);
  }
}
.section--hidden {
  opacity: 0;
}
@media (min-width: 52rem) {
  .section {
    display: flex;
    width: 80%;
    margin: auto;
    max-width: 1200px;
  }
  .section__title {
    font-size: 2.5rem;
  }
  .section__subtitle {
    font-size: 1.5rem;
  }
  .section--block {
    display: block;
    width: 100%;
    margin: 0;
    max-width: 100%;
    padding: 7rem;
  }
}
.section__btn-reading {
  background: none;
  font-family: inherit;
  font-weight: 500;
  color: #5ec576;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;
}
.section__btn-reading:focus {
  outline: none;
}
@media (min-width: 52rem) {
  .section__btn-reading {
    font-size: 1.2rem;
  }
}
.section__face {
  width: 60%;
  max-width: 361px;
}
@media (max-height: 47rem) and (orientation: landscape) {
  .section__face {
    margin-top: 3rem;
  }
}
@media (min-width: 130rem) {
  .section__face {
    max-width: 500px;
  }
}
.section--height {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  height: 100%;
}
.section--template-row-grid {
  grid-template-rows: 0px 0.1fr auto;
  min-height: calc(100vh - 3.5rem);
}
@media (min-width: 52rem) {
  .section--template-row-grid {
    min-height: calc(100vh + 2.5rem);
  }
}
.section__name {
  width: 100%;
}
.section__description {
  margin: 0;
  padding: 0;
  font-size: 1.1rem;
  font-weight: 500;
  text-transform: uppercase;
  color: #5ec576;
}
@media (min-width: 130rem) {
  .section__description {
    font-size: 1.7rem;
  }
}
.section__header {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
@media (min-width: 52rem) {
  .section__header {
    font-size: 2.5rem;
  }
}
@media (min-width: 130rem) {
  .section__header {
    font-size: 3.2rem;
  }
}
.section--position {
  position: relative;
  top: -4.5rem;
  left: 0;
}
.section__studies {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
}
@media (min-width: 130rem) {
  .section__studies {
    height: 97%;
  }
}
.section__study-up {
  height: fit-content;
  position: relative;
}
.section__study-up--animation {
  animation: move 3s linear 2s reverse forwards;
}
@media (min-width: 52rem) {
  .section__study-up {
    justify-self: center;
    margin-right: 11rem;
  }
}
.section__study-down {
  height: fit-content;
  position: relative;
  top: 100%;
  transform: translateY(-100%);
  text-align: right;
}
.section__study-down--animation {
  animation: move 3s linear 2s forwards;
}
@media (min-width: 52rem) {
  .section__study-down {
    justify-self: center;
    margin-left: 11rem;
  }
}

.features {
  text-align: center;
  align-items: center;
}
@media (min-width: 52rem) {
  .features {
    display: grid;
    column-gap: 4rem;
    margin: 1rem;
    grid-template-areas: "img title" "img description";
  }
  .features--reverse {
    grid-template-areas: "title img" "description img";
  }
}
.features__img {
  width: 90%;
}
@media (min-width: 52rem) {
  .features__img {
    grid-area: img;
    margin: auto;
    width: 100%;
  }
}
.features__img--blur {
  filter: blur(1.2rem);
}
.features__title {
  display: flex;
  align-items: center;
}
@media (min-width: 52rem) {
  .features__title {
    grid-area: title;
    flex-direction: column;
    align-items: flex-start;
    align-self: end;
  }
}
.features__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #5ec5763a;
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
}
@media (min-width: 130rem) {
  .features__icon {
    height: 4.2rem;
    width: 4.2rem;
  }
}
.features__text {
  text-align: left;
  margin: 0;
  color: #666666;
}
@media (min-width: 52rem) {
  .features__text {
    grid-area: description;
    align-self: start;
  }
}
@media (min-width: 130rem) {
  .features__text {
    font-size: 1.5rem;
  }
}
.features__header {
  font-size: 1.2rem;
  margin-left: 1rem;
}
@media (min-width: 52rem) {
  .features__header {
    margin-left: 0rem;
  }
}
@media (min-width: 130rem) {
  .features__header {
    font-size: 1.7rem;
  }
}

.footer {
  background: #444;
  grid-area: footer;
  margin: 0;
  padding: 1rem 2rem;
}
@media (min-width: 52rem) {
  .footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}
.footer__link {
  color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  padding: 1.2rem 0;
  text-decoration: none;
}
@media (min-width: 130rem) {
  .footer__link {
    font-size: 1.2rem;
  }
}
.footer__link p {
  margin-left: 1rem;
}
.footer__copyright {
  height: 4rem;
  color: #aaa;
  width: 100%;
}
@media (min-width: 52rem) {
  .footer__copyright {
    margin-top: 1rem;
  }
}
.footer__copyright span {
  display: block;
  color: #f3f3f3;
}
@media (min-width: 52rem) {
  .footer__copyright span {
    display: inline;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: #f3f3f3;
  padding: 1.5rem 0.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: all 0.5s;
  border-radius: 1rem;
  text-align: center;
  max-width: 550px;
}
.modal__title {
  text-align: left;
}
.modal__btn--close-modal {
  font-family: inherit;
  color: inherit;
  position: absolute;
  top: -0.8rem;
  right: 0.2rem;
  font-size: 3rem;
  cursor: pointer;
  border: none;
  background: none;
}
.modal__btn--close-modal:focus {
  outline: none;
}
.modal__data {
  width: fit-content;
  margin: auto;
}
.modal__item {
  padding: 0.5rem;
  color: inherit;
  display: flex;
  column-gap: 1rem;
}
@media (min-width: 130rem) {
  .modal__item {
    font-size: 1.2rem;
  }
}
.modal__link {
  text-decoration: none;
}
.modal__btn--close {
  border: none;
  margin-top: 1rem;
}

.slider {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;
  /* IN THE END */
  overflow: hidden;
}
.slider__btn {
  position: absolute;
  top: 96%;
  z-index: 1;
  border: none;
  background: rgba(255, 255, 255, 0.7);
  font-family: inherit;
  color: #333;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 1.5rem;
  cursor: pointer;
}
.slider__btn:focus {
  outline: none;
}
.slider__btn--left {
  left: 7%;
  transform: translate(-50%, -50%);
}
.slider__btn--right {
  right: 7%;
  transform: translate(50%, -50%);
}

.slide {
  width: 100%;
  /* THIS creates the animation! */
  transition: transform 1s;
}
.slide--absolute {
  position: absolute;
  top: 0;
  left: 0;
}

.testimonial {
  align-self: start;
}
.testimonial__header {
  font-weight: 500;
}
@media (min-width: 52rem) {
  .testimonial__header {
    font-size: 1.3rem;
  }
}
.testimonial__header::before {
  content: "“";
  position: relative;
  top: 1rem;
  line-height: 1;
  font-size: 3rem;
  font-weight: bold;
  font-family: inherit;
  color: #5ec576;
  z-index: -1;
}
.testimonial__text {
  color: #666666;
  transition: all 1s;
}
.testimonial__text--not-display {
  display: none;
}
@media (min-width: 52rem) {
  .testimonial__text {
    font-size: 1.2rem;
  }
}
.testimonial__xp {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  column-gap: 1rem;
  row-gap: 1rem;
}
.testimonial__icon {
  height: 3rem;
  width: 3rem;
}
.testimonial__icon--size {
  width: auto;
}
.testimonial__icon--zoom {
  transition: transform 1s;
}
.testimonial__icon--zoom:hover {
  cursor: pointer;
  transform: scale(1.3);
}
.testimonial__icon--zoom:active {
  transform: scale(1.3);
}
.testimonial__icon--zoom-active {
  transform: scale(1.3);
}
.testimonial h2 {
  text-align: center;
}

.dots {
  position: absolute;
  bottom: 3%;
  margin-bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
}
.dots__dot {
  border: none;
  background-color: #b9b9b9;
  opacity: 0.7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.5s;
}
.dots__dot--active {
  background-color: #888;
  opacity: 1;
}
.dots__dot:focus {
  outline: none;
}

.highlight {
  position: relative;
}
.highlight::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  opacity: 0.7;
  transform: scale(1.07, 1.05) skewX(-15deg);
  background-image: linear-gradient(to top left, #39b385, #9be15d);
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: #5ec576;
}
@media (min-width: 130rem) {
  .icon {
    height: 2rem;
    width: 2rem;
  }
}

.open {
  opacity: 1;
  transform: translateY(0);
}
.open--add-zindex {
  z-index: 3;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.not-margin-padding {
  padding: 0;
  margin: 0;
}

/*# sourceMappingURL=main.css.map */
