$primary: #5ec576;
$secondary: #ffcb03;
$tertiary: #ff585f;

$primary-darker: #4bbb7d;

$primary-opacity: #5ec5763a;

$background: #f3f3f3;

$font-color: #444;

$primary-gradient: linear-gradient(to top left, #39b385, #9be15d);
