$primary: #5ec576;
$secondary: #ffcb03;
$tertiary: #ff585f;

$primary-darker: #4bbb7d;

$primary-opacity: #5ec5763a;

$background: #f3f3f3;
$background-modal: rgba(0, 0, 0, 0.5);
$background-btn-slider: rgba(255, 255, 255, 0.7);
$background-dot-slider: #b9b9b9;
$background-dot-active-slider: #888;

$box-modal: rgba(0, 0, 0, 0.3);

$section-border: rgba(0, 0, 0, 0.1);

$font-color: #444;
$font-color-text: #666666;
$font-color-copyright: #aaa;
$font-color-btn-green: #333;

$primary-gradient: linear-gradient(to top left, #39b385, #9be15d);
