// Poopins Regular
@font-face {
  font-family: 'Poopins';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poopins';
  src: url('../fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Poopins';
  src: url('../fonts/Poppins-Bold.ttf');
  font-weight: bold;
}
