@keyframes move {
  from {
    top: 100%;
    transform: translateY(-100%);
  }
  to {
    top: 0;
    transform: translateY(0);
  }
}

@keyframes anim-lightspeed-in {
  0% {
    transform: translateX(-200%);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
