$media: 52rem;
$large: 130rem;
$height: 47rem;

@mixin media-display-none {
  @media (min-width: $media) {
    display: none;
  }
}
@mixin media-display-flex {
  @media (min-width: $media) {
    display: flex;
  }
}

@mixin media-display-content {
  @media (min-width: $media) {
    @content;
  }
}

@mixin media-height-100 {
  @media (max-height: $height) and (orientation: landscape) {
    height: 100%;
  }
}

@mixin media-height-content {
  @media (max-height: $height) and (orientation: landscape) {
    @content;
  }
}

@mixin media-large-content {
  @media (min-width: $large) {
    @content;
  }
}

$numSkills: 6;

@mixin stagger-anim-delay($i, $initial-delay, $stagger-delay) {
  @while $i > 0 {
    &:nth-of-type(#{$i}) {
      animation: 1s anim-lightspeed-in ease forwards;
      animation-delay: $initial-delay + $stagger-delay * $i;
    }
    $i: $i - 1;
  }
}
