$media: 52rem;
$large: 130rem;
$height: 47rem;

@mixin media-display-none {
  @media (min-width: $media) {
    display: none;
  }
}
@mixin media-display-flex {
  @media (min-width: $media) {
    display: flex;
  }
}

@mixin media-display-content {
  @media (min-width: $media) {
    @content;
  }
}

@mixin media-height-100 {
  @media (max-height: $height) and (orientation: landscape) {
    height: 100%;
  }
}

@mixin media-height-content {
  @media (max-height: $height) and (orientation: landscape) {
    @content;
  }
}

@mixin media-large-content {
  @media (min-width: $large) {
    @content;
  }
}
