@import '_fonts.scss';
@import '_colors.scss';
@import '_responsive_mixins.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poopins', sans-serif;
  background: $background;
  color: $font-color;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  @include media-large-content() {
    grid-template-rows: 4.5rem auto auto;
  }
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.backdrop {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s linear;
}

.main-header {
  z-index: 1;
  background: $background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  height: 3.5rem;
  @include media-large-content() {
    height: 4.5rem;
  }

  &__logo {
    height: 2.5rem;
    @include media-large-content() {
      height: 3.5rem;
    }
  }
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
  @include media-display-none();

  &__bar {
    width: 100%;
    height: 0.2rem;
    display: block;
    background: $primary;
    margin: 0.6rem 0;
  }

  &:focus {
    outline: none;
  }
}

.main-nav {
  display: none;
  @include media-display-flex();

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 1rem;
  }
}

.link {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  color: inherit;
  font-size: 1.2rem;
  @include media-large-content() {
    font-size: 1.6rem;
  }
}

.btn--show-modal {
  padding: 0.4rem 1.25rem;
  border-radius: 3rem;
  background-color: $primary;

  &:hover,
  &:active {
    background-color: $primary-darker;
    color: #333;
  }

  &:focus {
    outline: none;
  }
}

.btn-green {
  padding: 0.4rem 1.25rem;
  border-radius: 3rem;
  background-color: $primary;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $primary-darker;
    color: #333;
  }

  &:focus {
    outline: none;
  }
}

.mobile-nav {
  transform: translateX(100%);
  position: fixed;
  z-index: 101;
  background: $background;
  top: 3.5rem;
  right: 0;
  width: 80%;
  height: calc(100vh - 3.5rem);
  transition: transform 300ms ease-out;

  &__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-height-content() {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
  &__item {
    margin: 1rem 0;
  }
}

main {
  grid-area: main;
  display: grid;
}

.section {
  margin: 0;
  padding: 1rem;
  transition: transform 1s, opacity 1s;
  height: calc(100vh - 3.5rem);
  @include media-height-100();
  @include media-large-content() {
    height: calc(100vh - 4.5rem);
  }
  display: grid;
  align-items: center;
  justify-items: center;

  &__face {
    width: 60%;
    max-width: 361px;

    @include media-height-content() {
      margin-top: 3rem;
    }

    @include media-large-content() {
      max-width: 500px;
    }
  }

  &__name {
    width: 100%;
  }

  &__description {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    color: $primary;
    @include media-large-content() {
      font-size: 1.7rem;
    }
  }

  &__header {
    margin: 0;
    padding: 0;
    font-size: 1.4rem;
    font-weight: 500;
    @include media-display-content() {
      font-size: 2.5rem;
    }
    @include media-large-content() {
      font-size: 3.2rem;
    }
  }

  @include media-display-content() {
    display: flex;
    width: 80%;
    margin: auto;
    max-width: 1200px;

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }

  @include media-display-content() {
    &--block {
      display: block;
      width: 100%;
      margin: 0;
      max-width: 100%;
      padding: 7rem;
    }
  }

  &--hidden {
    opacity: 0;
    // transform: translateY(8rem);
  }

  &--height {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    height: 100%;
  }

  &--position {
    // border: 1px solid black;
    position: relative;
    top: -4.5rem;
    left: 0;
  }

  &--template-row-slider {
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    grid-template-rows: 0px 0.1fr auto;
    min-height: calc(100vh - 3.5rem);
    height: 100%;
    @include media-display-content() {
      min-height: calc(100vh + 3.5rem);
    }
  }
}

.features {
  text-align: center;

  @include media-display-content() {
    display: grid;
    column-gap: 4rem;
    // grid-template-columns: auto auto;
    grid-template-areas:
      'img title'
      'img description';
    margin: 1rem;

    &--reverse {
      grid-template-areas:
        'title img'
        'description img';
    }
  }
  align-items: center;

  &__img {
    width: 90%;
    @include media-display-content() {
      grid-area: img;
      margin: auto;
      width: 100%;
    }

    &--blur {
      filter: blur(1.2rem);
    }
  }

  &__title {
    display: flex;
    // column-gap: 1rem;
    align-items: center;

    @include media-display-content() {
      // gap: 0;
      grid-area: title;
      flex-direction: column;
      align-items: flex-start;
      align-self: end;
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $primary-opacity;
    height: 3.2rem;
    width: 3.2rem;
    border-radius: 50%;
    @include media-large-content() {
      height: 4.2rem;
      width: 4.2rem;
    }
  }

  &__text {
    text-align: left;
    margin: 0;
    color: $font-color-text;
    @include media-display-content() {
      grid-area: description;
      align-self: start;
    }
    @include media-large-content() {
      font-size: 1.5rem;
    }
  }

  &__header {
    font-size: 1.2rem;
    margin-left: 1rem;

    @include media-display-content() {
      margin-left: 0rem;
    }

    @include media-large-content() {
      font-size: 1.7rem;
    }
  }
}

.highlight {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: $primary-gradient;
  }
}

.btn--text {
  background: none;
  font-family: inherit;
  font-weight: 500;
  color: $primary;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  @include media-display-content() {
    font-size: 1.2rem;
  }
}

.footer {
  background: $font-color;
  grid-area: footer;
  margin: 0;
  padding: 1rem 2rem;

  @include media-display-content() {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__link {
    color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    // column-gap: 1rem;
    height: 2rem;
    padding: 1.2rem 0;
    text-decoration: none;

    @include media-large-content() {
      font-size: 1.2rem;
    }

    p {
      margin-left: 1rem;
    }
  }

  &__copyright {
    height: 4rem;
    color: $font-color-copyright;
    width: 100%;
    @include media-display-content() {
      margin-top: 1rem;
    }

    span {
      display: block;
      @include media-display-content() {
        display: inline;
      }

      color: $background;
    }
  }
}

.icon {
  height: 1.5rem;
  width: 1.5rem;
  fill: $primary;

  @include media-large-content() {
    height: 2rem;
    width: 2rem;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  background-color: $background;
  padding: 1.5rem 0.5rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 3;
  transition: all 0.5s;
  border-radius: 1rem;
  text-align: center;
  max-width: 550px;

  &__title {
    text-align: left;
  }

  &__btn--close-modal {
    font-family: inherit;
    color: inherit;
    position: absolute;
    top: -0.8rem;
    right: 0.2rem;
    font-size: 3rem;
    cursor: pointer;
    border: none;
    background: none;

    &:focus {
      outline: none;
    }
  }

  &__data {
    width: fit-content;
    margin: auto;
  }

  &__item {
    padding: 0.5rem;
    color: inherit;
    display: flex;
    column-gap: 1rem;

    @include media-large-content() {
      font-size: 1.2rem;
    }
  }

  &__link {
    text-decoration: none;
  }

  &__btn--close {
    border: none;
    margin-top: 1rem;
  }
}

.open {
  opacity: 1;
  transform: translateY(0);
  &--add-zindex {
    z-index: 2;
  }
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.slider {
  width: 100%;
  height: 100%;
  margin: auto;
  position: relative;

  /* IN THE END */

  overflow: hidden;

  &__btn {
    position: absolute;
    top: 96%;

    z-index: 10;
    border: none;
    background: rgba(255, 255, 255, 0.7);
    font-family: inherit;
    color: #333;
    border-radius: 50%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1.5rem;
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &--left {
      left: 7%;
      transform: translate(-50%, -50%);
    }

    &--right {
      right: 7%;
      transform: translate(50%, -50%);
    }
  }
}

.slide {
  width: 100%;

  /* THIS creates the animation! */
  transition: transform 1s;

  &--absolute {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.testimonial {
  &__header {
    font-weight: 500;
    @include media-display-content() {
      font-size: 1.3rem;
    }
    // position: relative;
    &::before {
      content: '\201C';
      position: relative;
      top: 1rem;
      line-height: 1;
      font-size: 3rem;
      font-weight: bold;
      font-family: inherit;
      color: $primary;
      z-index: -1;
    }
  }
  &__text {
    color: $font-color-text;
    @include media-display-content() {
      font-size: 1.2rem;
    }
  }
  &__xp {
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 2rem;
    column-gap: 1rem;
    row-gap: 1rem;
  }
  &__logo {
    display: block;
    margin: 3rem auto;
    height: 3.5rem;
    margin-bottom: 5rem;
  }
  &__icon {
    height: 3rem;
    width: 3rem;
    &--size {
      width: auto;
    }
  }

  h2 {
    text-align: center;
  }
}

.dots {
  position: absolute;
  bottom: 3%;
  margin-bottom: 0;

  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  // padding-bottom: 4%;

  &__dot {
    border: none;
    background-color: #b9b9b9;
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    // margin-right: 1.75rem;
    cursor: pointer;
    transition: all 0.5s;

    &:focus {
      outline: none;
    }

    // &:last-child {
    //   margin: 0;
    // }

    &--active {
      background-color: #888;
      opacity: 1;
    }
  }
}
