@import '_fonts.scss';
@import '_colors.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poopins', sans-serif;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  grid-template-areas:
    'header'
    'section'
    'footer';
}

.main-header {
  // border: 1px solid red;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.3rem;
  img {
    height: 2.5rem;
  }
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  span {
    width: 100%;
    height: 0.2rem;
    display: block;
    background: $primary;
    margin: 0.6rem 0;
  }

  &:focus {
    outline: none;
  }
}
