@import '_fonts.scss';
@import '_colors.scss';
@import '_responsive_mixins.scss';

* {
  box-sizing: border-box;
  // font-size: 62.5%;
}

body {
  font-family: 'Poopins', sans-serif;
  background: $background;
  color: $font-color;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  grid-template-areas:
    'header'
    'section'
    'footer';
}

.backdrop {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s linear;
}

.main-header {
  z-index: 1;
  background: $background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  height: 3.5rem;
  img {
    height: 2.5rem;
  }
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @include media-display-none();

  .toggle-button__bar {
    width: 100%;
    height: 0.2rem;
    display: block;
    background: $primary;
    margin: 0.6rem 0;
  }

  &:focus {
    outline: none;
  }
}

.mobile-nav {
  transform: translateX(100%);
  position: fixed;
  z-index: 101;
  background: $background;
  top: 3.5rem;
  right: 0;
  width: 80%;
  height: calc(100vh - 3.5rem);
  transition: transform 300ms ease-out;

  .mobile-nav__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mobile-nav__item {
      margin: 1rem 0;
    }
  }
}

.main-nav {
  display: none;
  @include media-display-flex();

  .main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;

    .main-nav__item {
      margin: 0 1rem;
    }
  }
}

.main-nav__item a,
.mobile-nav__item a {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  color: inherit;
  font-size: 1.2rem;
}

.nain-nav__item--cto a,
.mobile-nav__item--cto a {
  padding: 0.4rem 1.25rem;
  border-radius: 3rem;
  background-color: $primary;

  &:hover,
  &:active {
    background-color: $primary-darker;
    color: #333;
  }
}

main {
  grid-area: main;
  height: calc(100vh - 3.5rem);
}

.section {
  margin: 0;
  padding: 1rem;
  transition: transform 1s, opacity 1s;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;

  img {
    width: 60%;
    // margin: auto;
  }

  @include media-display-content() {
    padding: 0 3rem;
    grid-template-columns: 2fr 2fr;
    column-gap: 1rem;

    h1 {
      font-size: 2.5rem;
    }

    h4 {
      font-size: 1.5rem;
    }
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.highlight {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: $primary-gradient;
  }
}

.btn--text {
  background: none;
  font-family: inherit;
  font-weight: 500;
  color: $primary;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  @include media-display-content() {
    font-size: 1.2rem;
  }
}

.open {
  // display: block;
  opacity: 1;
  z-index: 1;
  transform: translateY(0);
}
