@import '_fonts.scss';
@import '_colors.scss';
@import '_responsive_mixins.scss';

* {
  box-sizing: border-box;
}

body {
  font-family: 'Poopins', sans-serif;
  background: $background;
  color: $font-color;
  margin: 0;
  display: grid;
  grid-template-rows: 3.5rem auto auto;
  @include media-large-content() {
    grid-template-rows: 4.5rem auto auto;
  }
  grid-template-areas:
    'header'
    'main'
    'footer';
}

.backdrop {
  position: fixed;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 0.6s linear;
}

.main-header {
  z-index: 1;
  background: $background;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.8rem;
  height: 3.5rem;
  @include media-large-content() {
    height: 4.5rem;
  }

  &__logo {
    height: 2.5rem;
    @include media-large-content() {
      height: 3.5rem;
    }
  }
}

.toggle-button {
  width: 2.5rem;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;

  @include media-display-none();

  &__bar {
    width: 100%;
    height: 0.2rem;
    display: block;
    background: $primary;
    margin: 0.6rem 0;
  }

  &:focus {
    outline: none;
  }
}

.main-nav {
  display: none;
  @include media-display-flex();

  &__items {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
  }

  &__item {
    margin: 0 1rem;
  }
}

.link {
  text-decoration: none;
  font-weight: 400;
  transition: all 0.3s;
  color: inherit;
  font-size: 1.2rem;
  @include media-large-content() {
    font-size: 1.6rem;
  }
}

.btn--show-modal {
  padding: 0.4rem 1.25rem;
  border-radius: 3rem;
  background-color: $primary;

  &:hover,
  &:active {
    background-color: $primary-darker;
    color: #333;
  }
}

.mobile-nav {
  transform: translateX(100%);
  position: fixed;
  z-index: 101;
  background: $background;
  top: 3.5rem;
  right: 0;
  width: 80%;
  height: calc(100vh - 3.5rem);
  transition: transform 300ms ease-out;

  &__items {
    width: 90%;
    height: 100%;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include media-height-content() {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      justify-items: center;
    }
  }
  &__item {
    margin: 1rem 0;
  }
}

main {
  grid-area: main;
  height: calc(100vh - 3.5rem);
  @include media-height-100();
  @include media-large-content() {
    height: calc(100vh - 3.5rem);
  }
}

.section {
  margin: 0;
  padding: 1rem;
  transition: transform 1s, opacity 1s;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;

  &__face {
    width: 60%;
    max-width: 361px;

    @include media-height-content() {
      margin-top: 3rem;
    }

    @include media-large-content() {
      max-width: 500px;
    }
  }

  @include media-display-content() {
    display: flex;
    width: 80%;
    margin: auto;
    max-width: 1200px;

    &__title {
      font-size: 2.5rem;
    }

    &__subtitle {
      font-size: 1.5rem;
    }
  }
}

.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.highlight {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.7;
    transform: scale(1.07, 1.05) skewX(-15deg);
    background-image: $primary-gradient;
  }
}

.btn--text {
  background: none;
  font-family: inherit;
  font-weight: 500;
  color: $primary;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  cursor: pointer;
  transition: all 0.3s;

  &:focus {
    outline: none;
  }

  @include media-display-content() {
    font-size: 1.2rem;
  }
}

.footer {
  background: $font-color;
  grid-area: footer;
  margin: 0;
  padding: 1rem 2rem;

  @include media-display-content() {
    display: flex;
    justify-content: space-between;
  }

  &__link {
    color: $background;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    height: 2rem;
    padding: 1.2rem 0;
    text-decoration: none;

    @include media-large-content() {
      font-size: 1.2rem;
    }
  }

  &__icon {
    height: 1.5rem;
    width: 1.5rem;
    fill: $primary;

    @include media-large-content() {
      height: 2rem;
      width: 2rem;
    }
  }
}

.open {
  opacity: 1;
  transform: translateY(0);
  &--add-zindex {
    z-index: 2;
  }
}
